/** @format */

.stats_form {
	display: block;
	text-align: left;
	font-family: 'Montserrat', 'sans-serif';
	font-size: 1rem;
}

.stats_form label {
	display: block;
	width: 21rem;
  font-size: 1.5rem;
	font-weight: 400;
}

.stats_form input {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

/* .stats_form textarea {
  width: 100%;
  border-radius: 25px;
} */