/** @format */
* {
	box-sizing: border-box;
}

.nav {
	position: fixed;
	z-index: 3;
	height: 60px;
	width: 100%;
	transition: 300ms ease;
	text-align: center;
	top: 0;
	left: 0;
}

.brand {
	color: white;
}

.brand span {
	font-family: 'Monoton', cursive;
	font-size: 2rem;
}

.result_link {
	position: absolute;
	right: 1rem;
	top: 1rem;
	border: none;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	font-weight: bold;
	color: white;
	background: transparent;
}

@media only screen and (max-width: 720px) {
	.nav {
		z-index: 200;
		background-color: white;
		height: 50px;
	}
	.brand {
		color: black;
	}
	.result_link {
		color: black;
	}
}
