/** @format */

.styled-table {
	margin: 25px 0;
	font-size: 0.9em;
	font-family: sans-serif;
	width: 100%;
	max-height: 400px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table_item{
	max-height: 400px;
	overflow-y: scroll;
}
.styled-table thead tr {
	background-color: rgba(255, 255, 255, 0.1);
	color: #ffffff;
	text-align: left;
}

.styled-table tr th {
	background: darkslategrey;
	padding: 12px 15px;
}

.styled-table td {
	padding: 12px 15px;
}

.styled-table tbody tr {
	border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
	background-color: #061a44;
}

.styled-table tbody tr:last-of-type {
	border-bottom: 2px solid #009879;
}
